/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: #fff;

// Primary/body text
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$mainFontSize: 41px;
$mainColor: #222;

// Vertical spacing between blocks of text
// $blockMargin: 20px;

// Headings
// $headingMargin: 0 0 $blockMargin 0;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingColor: #222;
// $headingLineHeight: 1.2;
// $headingLetterSpacing: normal;
$headingTextTransform: capitalize;
// $headingTextShadow: none;
$headingFontWeight: 600;
// $heading1TextShadow: $headingTextShadow;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
// $heading4Size: 1em;

// $codeFont: monospace;

// Links and actions
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);

// Text selection
$selectionBackgroundColor: lighten($linkColor, 25%);
// $selectionColor: #fff;

// // Generates the presentation background, can be overridden
// // to return a background image or gradient
// @mixin bodyBackground() {
//   background: $backgroundColor;
// }

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * Theme specific features
 *********************************************/

/* Position the corporate logo in the top right of the page */
#header-footer .slide-logo {
  position: absolute;
  top: 15px;
  right: 50px;
  height: 60px;
  width: 150px;
}

/* Style/position the footer text */
#header-footer .slide-footer {
  position: fixed;
  margin: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  text-align: center;
  font-size: 100%;
}

/* Styling for references */

#refs {
  font-size: 0.5em;
  column-count: 2;
}

/*********************************************
 * Some tweaks to reveal css from R package
 *********************************************/

.reveal {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }

  .slides > section,
  .slides > section > section {
    padding: 0px 0px;
  }

  %reveal-table {
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
  }

  %reveal-cell {
    padding-left: 10px;
    padding-right: 25px;
  }

  table {
    @extend %reveal-table;
    border-spacing: 2px;
    border-collapse: collapse;
    font-size: 0.7em;

    th {
      @extend %reveal-table;
      @extend %reveal-cell;
      font-weight: bold;
    }
    td {
      @extend %reveal-table;
      @extend %reveal-cell;
    }
  }

  .slide-menu-button {
    left: 105px !important;
  }
}

code {
  white-space: pre;
}
